/*thumbnails fix, remove if fix is included in bootstrap : https://github.com/twitter/bootstrap/issues/3494*/
.row-fluid   ul.thumbnails   li.span12 + li { margin-left : 0px; }
.row-fluid   ul.thumbnails   li.span6:nth-child(2n + 3) { margin-left : 0px; }
.row-fluid   ul.thumbnails   li.span4:nth-child(3n + 4) { margin-left : 0px; }
.row-fluid   ul.thumbnails   li.span3:nth-child(4n + 5) { margin-left : 0px; }
.row-fluid   ul.thumbnails   li.span2:nth-child(6n + 7) { margin-left : 0px; }
.row-fluid   ul.thumbnails   li.span1:nth-child(12n + 13) { margin-left : 0px; }

/*layout*/
body {padding-top:60px;}
.brand-logo {margin-top:-10px;}
a:hover, a:active,a:focus { outline: none;}
h1 {font-size: 24px;}
.thumbnails .thumbnail { border:0px solid #121212; border-bottom:4px solid #121212;}
.row-nav  {margin-top:-1px;padding:   0.4em 0px;	}
.thumbnail-view {}
div.footer {display:none!important;visibility:hidden;}
.padding10 {padding:10px;}

.main{background:rgba(0,0,0,.1);border-radius:2px; border:1px solid #212121;padding-bottom: 1.5em;border-bottom:1px solid #343434;}
.row-filmstrip {background:rgba(0,0,0,.2);border-radius:2px; border:1px solid #212121;}
.row-filmstrip h4 {margin-left:1em;}
 /* NAV */
.navbar .nav {float:none;margin:0px;}
.navbar {margin-bottom:0.5em;}
.nav img[name="spacer"] {display:none;}
.navbar .nav > li > a { border-bottom: 1px solid transparent;padding: 11px 11px 7px;border-radius: 5px 5px 0px 0px;}
 .secondary-nav .navbar-inner {background-color:#ccc;}
 .nav > li > a:hover, .nav > li > a:focus {    background-color: rgba(0,0,0,0.3);    text-decoration: none;}
 .secondary-nav * {margin-bottom:0px;}
/* cat view */
.cat-thumb, .album-thumb {max-height:400px; overflow:hidden;}
.cat-thumb .thumbnail {min-height:280px;}
.cat-thumb .thumbnail > a , .album-list .thumbnail > a  {min-width: 100%;max-height:136px;height:150px; display:inline-block; overflow:hidden;position:relative;max-width: 100%;margin-bottom:-5px; box-shadow:         0px 0px 3px rgba(0, 0, 0, 0.45);border-bottom:1px solid #212121;}
.cat-thumb .thumbnail .caption h3, .album-list .caption h3{font-family:Helvetica,arial,sans-serif;margin:0px;font-size:1.2em;line-height:1.6em;overflow: hidden;text-overflow: ellipsis;-o-text-overflow: ellipsis;white-space: nowrap;width: 100%;}
.cat-thumb > a img {border:0px;min-height: 130px;}
.cat-thumb { min-height:300px; background: rgba(0,0,0,0.35);   }
.cat-thumb .caption {background:none;}

/*album view*/
.album-list .thumbnail {min-height:290px;overflow:hidden;max-height:300px;background: rgba(0,0,0,0.35);}
.album-list .thumbnail .caption {min-height:100%;background:none;}
.album-list a.albums >img {min-width:270px;border-radius:3px 3px 0 0 ;}
.thumbnails .album-list {min-height:320px;}

/*thumbnail view~*/
div.span12 li.thumbnail-view  {min-height:260px;}
.thumbnail-view .album-thumb { position: relative; overflow:hidden;margin-bottom: 18px; border-radius:5px; background:#080808; border:1px solid #212121;padding:1px 0 ; border-bottom:0px;}
.thumbnail-view .album-thumb {border:0px;background:transparent;}
.album-thumb > a {min-height:150px;max-height:199px;}
.album-thumb > a > img.image {display:block;overflow:hidden;min-width:150px;margin:auto auto;border-radius:5px; border-bottom:4px solid #212121;}
.album-thumb > a > img[height="300"] {width:150px;max-width:150px; }
.album-thumb > a > img[width>"250"] {margin-top:10%;}
.album-thumb .caption {  position: absolute;   background: black; background:rgba(0,0,0,0.1);  color: white;   padding: 2%;   opacity: 0;   -webkit-transition: all 0.4s ease;   -moz-transition:    all 0.4s ease;   width:97%;}
.album-description {max-height:90px;overflow:hidden;text-overflow: ellipsis;-o-text-overflow: ellipsis;}
.album-thumb:before { bottom: 10px; left: 10px; }
.album-thumb .caption { left: 0; bottom: -30%; border-radius:5px 5px 0 0 ;}
.album-thumb:hover .caption { bottom: 0; background:rgba(0,0,0,0.8); }
.thumb_title {float:left;clear:left;max-height: 39px;overflow: hidden;vertical-align: top;}
.thumb_title + .thumb_title {font-size:0.9em;}
.thumb_caption {display:inline-block;width:100%;font-size:0.8em;}
.thumb_views, .thumb_votes {display:inline-block;float:right;margin-right:1em;}
.album-thumb:hover .caption{   opacity: 1;}
.album-thumb .caption .thumb_title {clear:both; margin: 2px 4px;font-size:0.9em;}
.album-thumb .caption .thumb_catpion {float:left;display:inline-block;max-height:1.5em;overflow:hidden;}
a[name="top_display_media"] {position:relative;top:-50px;}
/*login form*/
.container >   form[name=loginbox] {width:40%; border:1px solid #333; padding:10px;}
form[name=searchcpg] label,form[name=searchcpg] input {display:table-cell;float:left;}

/*image*/
h1.pic_title{font-size:24px;}
img.image {box-shadow:4px 14px 24px rgba(0,0,0,0.75);border-radius:2px; border:1px solid #212121;}
a[name="top_display_media"] {position:relative; top:-5em;}


.thumbnail img.image {border:0px;}

/*filmstrip*/
#filmstrip {margin-top:0;margin-left:0px;padding-top:1em;}
.film-strip .thumb {margin-left:15px;}
.film-strip img {max-width: 100px;max-height:66px;}
.film-strip .thumb img.active {	max-width: 130px;max-height: 88px;margin-top: -5px;border: 1px solid #f3a626;}
.film-strip .thumb .active, .film-strip .thumb:hover img{box-shadow: 14px 14px 12px rgba(0,0,0,0.4);border-radius:4px;}

/*comments*/
#comments {background:rgba(0,0,0,0.4);border-top:1px solid #343434;}
.comment {margin-bottom:1.2em;}
.comment-date { font-style:italic;}
.comment-autor { color:#efefef;}
.comment-meta { border-bottom:1px solid #343434;max-height:1.3em;}
.comment-body { text-indent:1em; color:#dfdfdf; /* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMTIiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.12) 80%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(80%,rgba(0,0,0,0.12)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.12) 80%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.12) 80%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.12) 80%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.12) 80%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */}
.comment-meta >*, .comment-body >* {padding:2px 5px;}


.right-column {border-left:1px solid rgba(0,0,0,.25); padding-left:10px;
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
.row-title { border-bottom:1px solid #333; padding:1em 0px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4zMiIvPgogIDwvbGluZWFyR3JhZGllbnQ+background+);
	CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.32) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.32))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.32) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.32) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.32) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.32) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#52000000',GradientType=0 ); /* IE6-8 */}

#banners a>img {margin:0 auto;display:block;}
#banners a {display:block;width:100%; margin: 1em 3px;}






/*Admin*/
textarea.debug_text {min-width:600px;width:96%;}
.admin_menu_wrapper {margin-left: 10px;}
.admin_menu_wrapper .btn-inverse a {display:inline-block;width:100%;}
.admin_menu_wrapper .btn-inverse a:hover {color:white; text-decoration:none;}
.admin_table tt {width:100%;display:block;clear:both;font-weight:600;}
.admin_table .statlink {font-size:1.1em; display:inline-block;}
.admin_table.maintable {border:1px solid #ccc;width:100%;}
.admin_table label {display:inline;}

.admin_table .editAlbum {border:1px solid black;}
.admin_table .editAlbum:hover {color:white;border:1px solid black; cursor:pointer;}
.admin_table strong {display:block;clear:left;}
.admin_table .tableh1 {font-size:1.2em;color:#fff;background:rgba(0,0,0,0.3);}
#GB_window {background:#ccc;}
.detail_head_collapsed, .detail_head_expanded {color:white;width:100%;font-size:1.3em;clear: both;color: white;display: block;}
.detail_body {border:1px solid #eee; background:rgba(255,255,255,0.2);}
.admin_menu a img , .adm_menu a img {float:left;}
.buttonlist  {display:table;} 
tt {clear:left;display:block;font-weight:bold;}
#eye {margin-bottom:1em;}

/* Media Queries */
@media screen and (max-width: 1299px) { 
   .admin_menu_wrapper {display:block;position:static;margin-left:5px;}
}

@media screen and (max-width: 767px) { 
    .thumbnails .cat-thumb , .thumbnails .album-thumb , .thumbnails .album-list{margin-left:2px;width:45%;float:left;}
    .film-strip .thumb,
	.row-fluid  .img-nav {width:20%;display:inline-block;}
    #eye {display:none;}
}


@media screen and (max-width: 639px) { 
	.thumbnails .cat-thumb , .thumbnails .album-thumb , .thumbnails .album-list{margin-left:2px;width:100%;float:left;}
	.album-thumb .caption,.album-thumb:hover .caption {display:none;}
	 .film-strip {display:none;}
}

footer,{background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(35, 35, 35, 0.749) 100%) transparent;border-top:1px solid #343434;}
